{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="object-tools">
            <li>
                <a href="{% url 'admin:send_all_reminders' %}" class="addlink">
                    📩 Send All Reminders
                </a>
            </li>
            <li>
                <a href="{% url 'admin:download_due_list' %}" class="addlink">
                    ⬇️ Download Due List
                </a>
            </li>
        </ul>
    </div>
    {{ block.super }}
{% endblock %}
